article {
display: flex;
}

img, iframe, video {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
}

body{
  font-family: poppins;/*fonte dos textos*/
  background-color: lightgreen;/*cor do fundo-*/
}
.destacar{
  color: green;
  padding: 8px 12px;         /* Altura e largura da faixa em volta do texto */
  text-align: center;
}
h1{
  color: darkgreen;/* destacar o titulo principal*/
}
.galeria {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.galeria img {
  width: 48%;
  height: auto;
}

