article {
display: flex;
}
background color: lightblue;^/*cor do fundo-*/
body{
  font-family: poppins;/*fonte dos textos*/
}
.destacar{
  color: darkblue;/* destacar o titulo principal*/
}
