article {
display: flex;
}
background color: lightblue;^/*cor do fundo-*/
body{
  font-family: poppins;/*fonte dos textos*/
}
.destacar{
  color: darkblue;/* destacar o titulo principal*/
}
.galeria {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.galeria img {
  width: 48%;
  height: auto;
}
